@page
@model eShop.Services.Identity.API.Pages.Account.Register.StandartRegister.MailConfirmModel
@{

}

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Подтверждение аккаунта</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="confirmationCode">Введите 4 символа:</label>
                                <input type="text" class="form-control" id="confirmationCode" maxlength="4">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>